/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.flex-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    font-size: 14px;
}

.image-section {
    border-radius: 45px 0px 0px 45px;
    object-fit: cover;
}


.form-section {
    margin: auto;
    gap: 20px;

    .form-headline {
        margin-bottom: 64px;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .form-item {
            input {
                border: 1px solid grey;
                width: 100%;
            }
        }

        .label-group {
            display: flex;
            justify-content: space-between;
        }

        input,
        button {
            padding: 10px;
            border-radius: 10px;
        }


        button {
            border: none;
            background-color: #3A5B22;
            color: white;
            cursor: pointer;
            transition: all ease-in-out 0.5s;
        }

        button:hover {
            background-color: #395327;
        }

    }

}

.section-divider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 20px 0;

    span {
        padding: 0 12px;
        color: black;
        font-size: 14px;
        flex-basis: 30%;

    }

    hr {
        flex-basis: 40%;
    }
}

.btn-group {
    display: flex;
    gap: 23px;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
        gap: 10px;
        background-color: white;
        border: 1px solid #D9D9D9;
        cursor: pointer;
        border-radius: 10px;
        transition: all ease-in-out 0.4s;

        img {
            width: 24px;
            height: 24px;
        }
    }

    a:hover {
        border: 1px solid black;
    }

}

.signup-link {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #0C2A92;
}